<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XGit.Core.settings.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XGit.Core.settings.Config>
            <setting name="ReposRoot" serializeAs="String">
                <value>/git</value>
            </setting>
            <setting name="ReposNamespaces" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="ReposFile" serializeAs="String">
                <value>repos.json</value>
            </setting>
            <setting name="UserPAT" serializeAs="String">
                <value>user.pat</value>
            </setting>
        </XGit.Core.settings.Config>
    </userSettings>
</configuration>